<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Musicbxd!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

    <header>
        <h2 class="logo2">MusicBxd</h2>
        <nav class="navigation2">
            <a href="{{ url_for('user_logs') }}">View Logs</a>
            <a href="{{ url_for('recommendation') }}">Recommendations</a>
            <a href="{{ url_for('profile') }}">Profile</a>
            <button class="btnLog">Log</button>
        </nav>
    </header>

    <aside class="sidebar">
       <div class="liked-grid">
           <button class="btn2" onclick="logout()">Log out</button>
       </div>
    </aside>

    <div class="logrec">
        <h2>Log A Song</h2>
        <span class="icon-close2"><ion-icon name="close-outline"></ion-icon></span>
        <form method="POST" action="/log-song">
                <div class="input-box">
                    <input type="Text"  name="artist" placeholder="Artist" required>
                </div>

                <div class="input-box">
                    <input type="text" name="title" placeholder="Song Title" required>
                </div>
                <div class="input-box">
                        <textarea name="comment" placeholder="Comment" required></textarea>
                </div>
                <div class="rating">
                  <input type="radio" name="rate" id="rate-5" value="5" required><label for="rate-5" title="5 stars">★</label>
                  <input type="radio" name="rate" id="rate-4" value="4" required><label for="rate-4" title="4 stars">★</label>
                  <input type="radio" name="rate" id="rate-3" value="3" required><label for="rate-3" title="3 stars">★</label>
                  <input type="radio" name="rate" id="rate-2" value="2" required><label for="rate-2" title="2 stars">★</label>
                  <input type="radio" name="rate" id="rate-1" value="1" required><label for="rate-1" title="1 star">★</label>
                </div>

                <div>
                  <button type="submit" class="btn">Submit</button>
                </div>
        </form>
    </div>

    <div class="outlogrec-container">
        <div class="outlogrec">
            <h2> sachilv's log </h2>
            <div class="inputed-box"> Jeremy Zucker
            </div>
            <div class="inputed-box"> always, i'll care
            </div>
            <div class="inputed-box"> It's comforting in its simplicity, the idea that someone will always care
            </div>
             <div class="rated">
                 <label>★</label>
                 <label>★</label>
                 <label>★</label>
                 <label>★</label>
             </div>
        </div>

        <div class="outlogrec">
                <h2> vmcole's log </h2>
                <div class="inputed-box"> NIKI
                </div>
                <div class="inputed-box"> Oceans & Engines
                </div>
            <div class="inputed-box"> A sad but beautiful song about saying goodbye, with heartfelt lyrics and soft music
            </div>
                 <div class="rated">
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                 </div>
            </div>

        <div class="outlogrec">
                <h2> defnoteveee's log </h2>
                <div class="inputed-box"> Kendrick Lamar
                </div>
                <div class="inputed-box"> euphoria
                </div>
            <div class="inputed-box"> F*** predators who think they can get away with liking minors just because they are famous
            </div>
                 <div class="rated">
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                 </div>
            </div>

        <div class="outlogrec">
                <h2> cleverjhns' log </h2>
                <div class="inputed-box"> Billie Eilish
                </div>
                <div class="inputed-box"> WILDFLOWER
                </div>
            <div class="inputed-box"> This song and a train ride to Japan's countryside would HEAL ME!
            </div>
                 <div class="rated">
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                 </div>
            </div>

        </div>

    <div class="outlogrec-container2">
        <div class="outlogrec">
            <h2> RAMIL's log </h2>
            <div class="inputed-box"> Chris Tomlin
            </div>
            <div class="inputed-box"> Holy Forever
            </div>
            <div class="inputed-box"> You Will Always Be Holy Forever My King👑
            </div>
             <div class="rated">
                 <label>★</label>
                 <label>★</label>
                 <label>★</label>
                 <label>★</label>
                 <label>★</label>
             </div>
        </div>

        <div class="outlogrec">
                <h2> justin's log </h2>
                <div class="inputed-box"> NIKI
                </div>
                <div class="inputed-box"> You'll be in my heart
                </div>
            <div class="inputed-box"> you'll be in my heart, always
            </div>
                 <div class="rated">
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                 </div>
            </div>

        <div class="outlogrec">
                <h2> defnoteveee's log </h2>
                <div class="inputed-box"> Kendrick Lamar
                </div>
                <div class="inputed-box"> euphoria
                </div>
            <div class="inputed-box"> F*** predators who think they can get away with liking minors just because they are famous
            </div>
                 <div class="rated">
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                 </div>
            </div>

        <div class="outlogrec">
                <h2> cleverjhns' log </h2>
                <div class="inputed-box"> Billie Eilish
                </div>
                <div class="inputed-box"> WILDFLOWER
                </div>
            <div class="inputed-box"> This song and a train ride to Japan's countryside would HEAL ME!
            </div>
                 <div class="rated">
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                     <label>★</label>
                 </div>
            </div>
        </div>

          {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}



    <script>
        function logout() {
            window.location.href = "http://localhost:5000/logout";
        }
    </script>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="scripts.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>

