<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicBxd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h2 class="logo">MusicBxd</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact Us</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>

    <main>
    <div class="content">


        <h1>Welcome to MusicBxd!</h1>

        <p class="description">
           A music logging app made for your music diaries where you can feel like you're in little own box!

        </p>

        <div class="buttons">
            <a href="#" class="btn-get-started">Documentation &gt;</a>
            <a href="#" class="btn-signing-main">Get started &gt;</a>
        </div>
    </div>
    </main>

    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>

        <div class="form-box login">
            <h2>Log in</h2>
            <form action="{{ url_for('login') }}" method="POST">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-open-sharp"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-sharp"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>

                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>Don't have an Account? <a href="#" class="register-link">Register!</a></p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <h2>Registration</h2>
            <form action="{{ url_for('register') }}" method="POST">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-open-sharp"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-sharp"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>

                <div class="remember-forgot">
                    <label><input type="checkbox"> <a href="#">agree to the terms & conditions</a></label>
                </div>

                <button type="submit" class="btn">Register</button>
                <p class="indent">or
                </p>
                <button class="btn" onclick="window.location.href='/spotify-login'">Login with Spotify</button>
                <div class="register">
                    <p>Already have an account? <a href="#" class="login-link">Log in!</a></p>
                </div>
            </form>
        </div>
    </div>
    <spline-viewer class = "musichouse"loading-anim-type="none" url="https://prod.spline.design/qrAS8dw5yJYB967S/scene.splinecode"></spline-viewer>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.82/build/spline-viewer.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        function loginWithSpotify() {
            window.location.href = "http://localhost:5000/";
        }

        function logout() {
            window.location.href = "http://localhost:5000/logout";
        }
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>