<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicBxd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <header>
        <h2 class="logo">MusicBxd</h2>
        <nav class="navigation">
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>

    <main>
    <div class="content">
        <h1>Welcome to MusicBxd!</h1>

        <p class="description">
           A music logging app made for your music diaries where you can feel like you're in your own little box!

        </p>

        <div class="buttons">
            <a href="https://open.spotify.com/" class="btn-get-started">Spotify &gt;</a>
        </div>
    </div>
    </main>

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}



    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>

        <div class="form-box login">
            <h2>Log in</h2>
            <form action="{{ url_for('login') }}" method="POST">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-open-sharp"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-sharp"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>

                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>Don't have an Account? <a href="#" class="register-link">Register!</a></p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <h2>Registration</h2>
            <form action="{{ url_for('register') }}" method="POST">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-open-sharp"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-sharp"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>

                <div class="remember-forgot">
                    <input type="checkbox" required> <a href="#">agree to the terms & conditions</a>
                </div>

                <button type="submit" class="btn">Register</button>
                <p class="indent">or
                </p>
                <button class="btn" onclick="window.location.href='/spotify-login'">Register with Spotify</button>
                <div class="register">
                    <p>Already have an account? <a href="#" class="login-link">Log in!</a></p>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 MusicBxd. All rights reserved.</p>
            <p>Created by Prince John F. Castillo & Ryza Mae B. Penafiel </p>
            <div class="social-icons">
                <a href="https://www.instagram.com/cleverjhns/"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="https://open.spotify.com/user/kyfbsps1j162qssrffwsfdj96"><ion-icon name="musical-notes-outline"></ion-icon></a>
                <a href="https://www.facebook.com/profile.php?id=100009842225866"><ion-icon name="logo-facebook"></ion-icon></a>
            </div>
        </div>
    </footer>

    <spline-viewer class = "musichouse"loading-anim-type="none" url="https://prod.spline.design/qrAS8dw5yJYB967S/scene.splinecode"></spline-viewer>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.82/build/spline-viewer.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        function loginWithSpotify() {
            window.location.href = "http://localhost:5000/";
        }

        function logout() {
            window.location.href = "http://localhost:5000/logout";
        }
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>