<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prof.css') }}">

</head>
<body>
    <header>
        <h2 class="logo" style="cursor: pointer;" onclick="history.back()">MusicBxd</h2>
        <h2 class="logo"> Profile </h2>
        <nav class="navigation">
        </nav>
    </header>


<h2>Your Liked Songs</h2>
<ul id="likedSongsList">
    {% for song in liked_songs %}
        <li>
            <span class="song-title">{{ song.title }}</span> by {{ song.artist }}
            <form method="POST" action="{{ url_for('remove_like', song_id=song.id) }}" style="display: inline;">
                <button type="submit">Remove</button>
            </form>
        </li>
    {% else %}
        <li class="no-songs">No liked songs yet.</li>

    {% endfor %}
</ul>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

