<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reco.css') }}">
</head>
<body>
    <header>
        <h2 class="logo" style="cursor: pointer;" onclick="window.location.href='{{ url_for('homepage') }}'">MusicBxd</h2>
        <h2 class="logo">Recommendation</h2>
        <nav class="navigation"> </nav>
    </header>

    <h3>🎧 Your Random Song</h3>
    <button class="btn" onclick="getRecommendation()">Get a Recommendation</button>

    <div id="song-display" style="display: none;">
        <p id="song-title"></p>
        <p id="song-artist"></p>
        <audio id="audio-player" controls></audio>
    </div>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
